<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bouboulecorp.thurii">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_thurii"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_thurii_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thurii">
        <activity
            android:name=".Settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LogIn.LogInActivity"
            android:exported="false" />
        <activity
            android:name="com.bouboulecorp.thurii.EmailRegistration.RegisterEmailActivity"
            android:exported="false" />
        <activity
            android:name="com.bouboulecorp.thurii.DoubleAuth.DoubleAuthActivity"
            android:exported="false" />
        <activity
            android:name=".Registration.RegistrationFragment.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LogInSignInMenu.LogInSignInMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>